<template>
    <div class="footer">
        <div class="footer__inner">
            <div class="footer__copy">
                <span>Copyright EZSoftware. All Rights Reserved.</span>
            </div>
            <div class="footer__see-also">
                <a href="#">Imprint</a>
                <a href="#">Terms</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </div>
</template>

<style scoped>
.footer {
    padding: 0 5rem;
    box-sizing: border-box;
}
.footer__inner {
    padding: 2rem 0;
    border-top: 1px solid rgba(55, 57, 60,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    color: #BFBFC5;
}
.footer__see-also > a {
    color: #F03360;
    margin: 1rem;
}
.footer__see-also > a:last-child {
    margin-right: 0;
}
@media (max-width: 700px), (max-width: 1024px) and (orientation: portrait) {
    .footer {
        padding: 0 2rem;
    }
    .footer__inner {
        flex-flow: column nowrap;
        height: 2rem;
    }
    .footer__copy {
        order: 2;
    }
}
</style>
