<template>
  <div id="app">
    <app-header></app-header>
    <app-dishes></app-dishes>
    <app-footer></app-footer>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Dishes from './components/Dishes.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    appHeader: Header,
    appDishes: Dishes,
    appFooter: Footer
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
}
a, p, span, h1, h2, h3, h4, h5, h6 {
  color: #37393C;
  text-decoration: none;
}

body {
  background: #f2f5f6;
  background: linear-gradient(180deg, #fff 0%, #fff 15rem, #f2f5f6 15rem, #f2f5f6 100%);
}
</style>
